<form method="post" action="{{ path('formation_showslide', {'id': slide.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('showslide' ~ slide.id) }}">

    <div align="center">


        <embed  src="{{ asset('http://127.0.0.1/img/' ~ slide.textSlide) }}" width=700 height=400 type='application/pdf'/>
    </div>

</form>
