{% extends 'base.html.twig' %}

{% block title %}New Questiontest{% endblock %}

{% block body %}
    <h1 class="text-center" style="margin-top: 150px;">Ajouter Question</h1>

    {{ include('questiontest/_form.html.twig') }}

    <a href="{{ path('questiontest_index') }}">back to list</a>
{% endblock %}
