<!DOCTYPE html>
<html lang="en">

<head>

  <title>E-Senpai Plateforme E-Learning</title>
  
</head>

<body>

    <h4><a href="">E-Senpai Plateforme E-Learning</a></h4>
    <h5>Réclamation Numéro : 0000{{reclamation.id}}</h5>
    <h5>Réclamateur : {{ app.user.nom ~ " " ~ app.user.prenom }}</h5>
    <h5>Sujet : {{reclamation.sujet}}</h5>
    <h5>Contenu : {{ reclamation.contenu }}</h5>


</body>

</html>