{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="margin-top: 150px"></h1>
    {{  include('quiz_and_test_front/show_timer.html.twig') }}
    <h1  class="text-center"> Quiz : {{ quiz.sujet }}</h1>
    <form action="{{ path('validate_quiz',{'id':quiz.id}) }}" method="post" id="formQuiz" >
        {% set i = 1 %}
        {% for question in quiz.questions %}
             {{  include('quiz_and_test_front/_form_questionnaire.html.twig') }}
            {% set i = i + 1 %}
        {% endfor %}
        <h4 id="error" style= "color:red"> </h4>
        <button onclick="validerQuiz();" type="button" style="width: 25%;margin: auto;margin-top: 50px;" class="btn btn-dark btn-lg btn-block">Valider</button>
    </form>
{% endblock %}
