{% extends 'admin.html.twig' %}

{% block body %}
<main>
        <!--? Hero Start -->
        <div class="slider-area2 section-bg2" data-background={{ asset("admin/img/hero/hero3.png")}}>
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2">
                                <h2>WELCOME</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        
        <!--? Gallery Area Start -->
        <div class="gallery-area">
            <div class="container-fluid p-0 fix">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery text-center">
                            <div class="gallery-img" style="background-image: url(admin/img/gallery/gallery1.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>Mechanical Engineering</h3>
                                    <p>We collect and analyze information about your general usage of the website, products, services.</p>
                                    <a href="services.html">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery no-margin text-center">
                            <div class="gallery-img" style="background-image: url(admin/img/gallery/gallery2.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery text-center">
                            <div class="gallery-img" style="background-image: url(admin/img/gallery/gallery3.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->
        <!-- Want To work -->
        <section class="wantToWork-area gray-bg ">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-8 col-lg-9 col-md-8">

                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <a href="#" class="btn w-btn wantToWork-btn">Learn More <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        
        
        <!-- Want To work 2-->
        <section class="wantToWork-area">
            <div class="container">
                <div class="wants-wrapper w-padding3">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <div class="logo">
                                    <img src="assets/img/logo/logo.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <div class="double-btn f-right ">
                                <a href="#" class="btn w-btn wantToWork-btn mr-20">Learn More <i class="ti-arrow-right"></i></a>
                                <a href="#" class="btn2 w-btn wantToWork-btn">Learn More <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End 2-->
    </main>
{% endblock %}
