{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" style="margin-top: 150px;">Modifier Question</h1>
    {{ include('questionquiz/_delete_form.html.twig') }}

    {{ include('questionquiz/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('questionquiz_index') }}">back to list</a>

{% endblock %}
