{% extends 'admin.html.twig' %}

{% block title %}Vos Réclamations !{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
{{ form_start(form) }}
        <div class="form-group">
        {{ form_row(form.reponse, {'attr':{'class':"form-control w-100"}}) }}
        </div>
        <button class="btn" type="submit">Répondre</button>
{{ form_end(form) }}
{% endblock %}