{% extends 'base.html.twig' %}

{% block title %}New Test{% endblock %}

{% block body %}
    <h1 class="text-center" style="margin-top: 150px"> Créer Un Test</h1>

    {{ include('test/_form.html.twig') }}

    <a href="{{ path('test_index',{'id':app.user.id}) }}">back to list</a>
{% endblock %}
